@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-secondary: 237 242 250;
        --color-primary: 0 191 99;
        --header-height: 64px;
    }
}

html {
    // font-size: 62.5%;
    // use rem to increase size of global
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    // font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

.text-shadow {
    text-shadow: 1px 1px 1px #333;
}
